@charset "UTF-8";



header {
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
   padding: 10px 10px 0 10px;
}

header h1 {
    margin-bottom: 10px;
    flex: auto;
}


nav {
    display: flex;
    flex-flow: column nowrap;
    
    

}

nav a {
width: 90vw;
margin-bottom: 8px;



}

main h2 {
    text-align: center;
}

